// VARIABLES
// =================================================
// ----Colours---------
$colour-text: #000;
$colour-text-light: #848484;

$colour-bg: #ebebeb;
$colour-bg-light: #cbad88;
$colour-bg-lightest: #fff;

$colour-highlight: #af844d;


// ----Grid------------
$max-width: 1000px;

// ----Typography------------
$font-sans: 'Open Sans', sans-serif;
$font-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$weight-normal: 300;
$weight-heavy: 600;
$size-page-title: 2.5em;
$size-section-title: 2em;