// VARIABLES
// =================================================
// ----Colours---------
$colour-text: #000;
$colour-text-light: #848484;

$colour-bg: #ebebeb;
$colour-bg-light: #cbad88;
$colour-bg-lightest: #fff;

$colour-highlight: #af844d;


// ----Grid------------
$max-width: 1000px;

// ----Typography------------
$font-sans: 'Open Sans', sans-serif;
$font-serif: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$weight-normal: 300;
$weight-heavy: 600;
$size-page-title: 2.5em;
$size-section-title: 2em;


// MIXINS
// =================================================
@mixin box-reset {
	padding: 0;
	border: 0;
	margin: 0;
}

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@mixin small-screens {
	@media screen and (max-width: 820px) {
		@content;
	}
}

@mixin medium-screens {
	@media screen and (max-width: $max-width) {
		@content;
	}
}

@mixin content-image {
	border: 3px solid $colour-bg-lightest;
  border-radius: 5px;
}


// GLOBAL STYLES
// =================================================
body {
	font-family: $font-sans;
	font-weight: $weight-normal;
	-webkit-font-smoothing: antialiased;
	color: $colour-text;
	height: 100%;
	line-height: 1.5;
	text-align: justify;
}

strong {
	font-weight: $weight-heavy;
}

a {
	color: $colour-highlight;

	&:visited {
		color: $colour-highlight;
	}
}

.page {
  margin-top: -3em;

	&.no-hero {
		margin-top: 0;
	}

	section {
		.content-main {
			h1, h2, h3 {
				text-align: left;
				text-transform: uppercase;
				font-family: $font-serif;
				font-weight: $weight-heavy;
				line-height: 1.1em;
			}
		}
	}

	section:nth-child(odd) {
		background-color: $colour-bg-light;

		a {
			color: #fff;

			&:visited {
				color: #fff;
			}
		}

		.content-main {
			h1, h2, h3 {
				color: $colour-bg-lightest;
			}
		}
	}

	section:nth-child(even), section:nth-child(1) {
		background-color: $colour-bg;

		.content-main {
			h1, h2, h3 {
				color: $colour-highlight;
			}
		}
	}

	.button-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .button,
    button {
      display: inline-block;
      box-sizing: border-box;
      padding: 35% 1.2em;
      border: 1px solid $colour-highlight;
      border-radius: 50%;
      text-transform: lowercase;
      text-decoration: none;
      background-color: $colour-bg-lightest;
      font-weight: $weight-heavy;
      color: $colour-text;

      &:hover {
        background-color: $colour-highlight;
        color: $colour-bg-lightest;
      }
    }
  }
}
